<%= render 'navigation' %>

<div class="row">
    <div class="large-12 medium-12 small-12 columns left" id="extensions">
        <h3>File Types</h3>
        <svg></svg>
        <script>
            $(function() {
                var data = <%=raw JSON.dump(@extensions.map {|e,c|
                    {label: e, value: c}
                }) %>;
                pie(data, "#extensions");
            });
        </script>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="statuses">
        <h3>HTTP Statuses</h3>
        <svg></svg>
        <script>
            $(function() {
                var data = <%=raw JSON.dump(@statuses.map {|e,c|
                    {label: e, value: c}
                }) %>;
                pie(data, "#statuses");
            });
        </script>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="statuses-highlights">
        <h1><%= @statuses[404] %> <small>File Not Found</small></h1>
        <h1><%= @statuses[403] %> <small>Forbidden</small></h1>
        <h1><%= @statuses[500] %> <small>Internal Server Error</small></h1>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="encodings">
        <h3>File Encodings</h3>
        <svg></svg>
        <script>
            $(function() {
                var data = <%=raw JSON.dump(@encodings.map {|e,c|
                    {label: e, value: c}
                }) %>;
                pie(data, "#encodings");
            });
        </script>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="csv-valid">
        <h3>CSV Validation</h3>
        <svg></svg>
        <script>
            $(function() {
                pie([{
                    label: "Valid",
                    value: <%= @csvs[:valid] %>
                },{
                    label: "Invalid",
                    value: <%= @csvs[:invalid] %>
                }], "#csv-valid");
            });
        </script>
    </div>
    <div class="large-12 medium-12 small-12 columns left" id="csv-valid">
        <h1><%= @csvs[:average_rows] %> <small>Average Rows</small></h1>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="pdf-valid">
        <h3>PDF Validation</h3>
        <svg></svg>
        <script>
            $(function() {
                pie([{
                    label: "Valid",
                    value: <%= @pdfs[:valid] %>
                },{
                    label: "Invalid",
                    value: <%= @pdfs[:invalid] %>
                }], "#pdf-valid");
            });
        </script>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="pdf-valid">
        <h1><%= @pdfs[:average_pages] %> <small>Average Pages</small></h1>
    </div>
    <hr/>
    <div class="large-12 medium-12 small-12 columns left" id="pdf-valid">
        <h3>Files</h3>
        <h1><%= @files[:pointless] %> <small>Pointless Files</small></h1>
    </div>
</div>

<script>
    function pie(data, id) {
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .showLabels(true);

            d3.select(id + " svg")
                .datum(data)
                .transition().duration(350)
                .call(chart);

            return chart;
        });
    }
</script>
